<div class="grey333bg positionrelative">
	<div class="row content2 padding5t1b">
		<div class="large-4 columns">
			<%= image_tag('forumtitle.png', class: "hqtitle") %>
		</div>
		<div class="large-7 columns text-center greytabsposition">
			<ul class="inline-list greytabs">
				<li>Branches</li>
				<li>Messages</li>
				<li>Feed</li>
			</ul>
		</div>
	</div>
</div>

<div class="row content1 padding2t padding2b">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-12 columns content1">
			    <div class="panel">
			      <div class="row">
	            <div class="large-9 columns text-left">
	              <h5 class="weight500">Threads</h5>
	            </div>
	            <div class="large-3 columns text-right">
	              <a href= "#"><%= image_tag('plusradiusbox.png', class:"padding04v")  %></a>
	            </div>
			      </div>
			    </div>
			    <div class="row whitebg supportrow1">
	          <div class="row whitebg bb1grey">
	            <div class="large-6 columns content padding08v forumthread">
	              <p class="font09 margin0b weight500">I'm having issues using our delivery system<br><span class="darkgrey font07">Posted by <span class="blue">Callum Short</span></span></p>
	            </div>
	            <div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	            	<p class="font07 margin0b weight500 textup darkgrey">102<br>Views</p>
	            </div>
	            <div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	            	<p class="font07 margin0b weight500 textup darkgrey">12<br>Replies</p>
	            </div>
	          	<div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	              <p class="font07 margin0b weight500 textup darkgrey">15/11/2014<br>Latest Post</p>
	            </div>
	          </div>
	          <div class="row whitebg bb1grey">
	            <div class="large-6 columns content padding08v forumthread">
	              <p class="font09 margin0b weight500">I'm having issues using our delivery system<br><span class="darkgrey font07">Posted by <span class="blue">Callum Short</span></span></p>
	            </div>
	            <div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	            	<p class="font07 margin0b weight500 textup darkgrey">102<br>Views</p>
	            </div>
	            <div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	            	<p class="font07 margin0b weight500 textup darkgrey">12<br>Replies</p>
	            </div>
	          	<div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	              <p class="font07 margin0b weight500 textup darkgrey">15/11/2014<br>Latest Post</p>
	            </div>
	          </div>
	          <div class="row whitebg bb1grey">
	            <div class="large-6 columns content padding08v forumthread">
	              <p class="font09 margin0b weight500">I'm having issues using our delivery system<br><span class="darkgrey font07">Posted by <span class="blue">Callum Short</span></span></p>
	            </div>
	            <div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	            	<p class="font07 margin0b weight500 textup darkgrey">102<br>Views</p>
	            </div>
	            <div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	            	<p class="font07 margin0b weight500 textup darkgrey">12<br>Replies</p>
	            </div>
	          	<div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	              <p class="font07 margin0b weight500 textup darkgrey">15/11/2014<br>Latest Post</p>
	            </div>
	          </div>
	          <div class="row whitebg bb1grey">
	            <div class="large-6 columns content padding08v forumthread">
	              <p class="font09 margin0b weight500">I'm having issues using our delivery system<br><span class="darkgrey font07">Posted by <span class="blue">Callum Short</span></span></p>
	            </div>
	            <div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	            	<p class="font07 margin0b weight500 textup darkgrey">102<br>Views</p>
	            </div>
	            <div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	            	<p class="font07 margin0b weight500 textup darkgrey">12<br>Replies</p>
	            </div>
	          	<div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	              <p class="font07 margin0b weight500 textup darkgrey">15/11/2014<br>Latest Post</p>
	            </div>
	          </div>
	          <div class="row whitebg bb1grey">
	            <div class="large-6 columns content padding08v forumthread">
	              <p class="font09 margin0b weight500">I'm having issues using our delivery system<br><span class="darkgrey font07">Posted by <span class="blue">Callum Short</span></span></p>
	            </div>
	            <div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	            	<p class="font07 margin0b weight500 textup darkgrey">102<br>Views</p>
	            </div>
	            <div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	            	<p class="font07 margin0b weight500 textup darkgrey">12<br>Replies</p>
	            </div>
	          	<div class="large-2 columns content padding1v greybg text-center lightgreybg forumthread">
	              <p class="font07 margin0b weight500 textup darkgrey">15/11/2014<br>Latest Post</p>
	            </div>
	          </div>
			    </div>
			  </div>
			</div>
	  </div>
	</div>
</div>

	<script type="text/javascript">
	  (function() {

	      $(function() {

	        $(function() {
	          $('.forumthread').matchHeight();
	        });

	        
	      });

	  })();
	</script>